/* Déclaration des variables */
:root{
    --background-color: bisque;
    --background-body: #332f2f;
    --bordure: green;
    --bouton: rgb(3, 92, 3);
    --bouton_hover: rgb(7, 67, 7);
    --border-radius: 8px;
}

body {

    margin: 0;
    padding: 0;
    background-color: var(--background-body);
}

.bouton_insc_con {
    display: flex;
    justify-content: center;
    margin-top: 230px;
    gap: 100px;
}

.bouton_insc_con button {
    background-color:var(--bouton);
    color: white;
    border-radius: var(--border-radius);
    border: none;
    padding: 15px 20px;
    width: 250px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bouton_insc_con button:hover {
    background-color: var(--bouton_hover);
}

.bouton_insc_con a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
}